<div class="content-box">
  <h2 class = "content-box__title">Calendar Hero Reports</h2>
<p>
{% for link in links %}
<!--a href="{{ link.url }}" class="btn button primary">{{ link.title }}</a><br /-->
{{ link }}<br />
<br />
{% endfor %}
</p>
</div>
